@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  overflow-x: hidden;
}

.grid-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 0.5fr;
  grid-template-areas: "navbar navbar"
    "main main"
    "footer footer";
}

/* --- NavBar --- */
.header {
  grid-area: navbar;
  position: fixed;
  z-index: 100;
  margin-top: 0;
  /* Tamaño de icono de cuando el navbar se achica */
}

.header nav {
  background-color: #135a7d !important;
  top: 0;
  width: 100vw;
}

.header nav .logo-size {
  height: 57px;
  width: 120px;
}

.header nav a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header nav a h1 {
  margin: 0px 0px 0 10px;
  padding-left: 20px;
  font-family: 'Arial';
  font-size: 2rem;
  margin-left: 20px;
  font-weight: lighter;
}

.header nav ul {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.header nav ul li a {
  margin-right: 15px;
  padding: 7px 15px;
  font-size: 1.8rem;
  letter-spacing: 1px;
  transition: all 0.5s ease-in-out;
  font-weight: bold;
  text-transform: uppercase;
}

.header nav ul li a:hover {
  transform: scale(1.015);
  color: #c0392b;
}

.header .navbar-toggler-icon {
  height: 20px;
  width: 20px;
}


/* --- index --- */
main {
  grid-area: main;
}

main section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

main section div ul {
  margin-top: 80px;
}

main section div ul li {

  margin-top: 5px;
  font-size: 2rem;
  list-style: none;
  text-decoration: none;
}

main section div ul li img {
  height: 30px;
  width: 30px;
}

main section div ul li a {
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

main section div ul li a:hover {
  color: lightblue;
}

/* Imagen de bienvenida */
.hero {
  height: 100%;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero.jpg");
  background-color: steelblue;
  background-position: center;
  background-size: cover;
  background-attachment: inherit;
}

.hero.ets {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/hero.jpg");
}


/* ////////////////////////////////////////////////// */
/* ESTACIONES */
.grid-container-estaciones {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 0.5fr;
  grid-template-areas:
    "navbar navbar"
    "main main"
    "footer footer";
}

.container {
  grid-area: main;
  margin-top: 90px;
  margin-bottom: 20px;
 
}

#contenido {
  background-color: #409ebd;
  padding: 20px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contenido #nueva-nota {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error {
  color: red;
  text-align: center;
  font-weight: 800;
  letter-spacing: 1px;
  border: 2px solid rgba(253, 2, 2, 0.4);
  border-radius: 2.5px;
  padding: 5px;
  margin-top: 5px;
}

.titulo {
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
}

.container {
  background-color: white;
  padding: 0px;
}

.lista-notas .notas {
  border-bottom: 1px solid #e1e1e1;
  padding: 10px 5px 5px 15px;
  
}
.lista-notas .notas:last-of-type {
  border-bottom: 0;
}

.lista-notas .notas p {
  margin: 0;
}

.lista-notas .notas span {
  font-weight: bold;
}

svg {
  width: 21px;
}

.nota {
  height: auto;
  display: flex;
  justify-content: center;
}

.nota .form {
  height: auto;
  width: 75vw;
  background-color: white;
  margin: 0px 10px 10px 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow-x: hidden;
}

.nota .form p {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 20px 0px 0px 15px;
}

.nota .form img {
  height: 30px;
  width: 30px;
  display: flex;
  border: 1px solid black;
}

.nota .form input {
  height: 30px;
  width: 96%;
  font-size: 1.8rem;
  margin: 5px 10px 0px 0px;
}

.nota .form .name {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.nota .form .consulta textarea {
  height: 20vh; 
  width: 98%;
  margin: 5px 5px 5px 5px;
  padding: 5px;
  font-size: 1.5rem;
}

 .form .btn-enviar-consulta {
  height: 40px;
  width: 200px;
  background: lightblue;
  margin: 0px 10px 10px 10px;
  border: 0;
  border-radius: 5px;
  transition: ease-in-out 0.3s;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
  font-weight: 900;
  letter-spacing: 2px;
}

.nota .form .btn-enviar-consulta:hover {
  background-color: steelblue;
  color: white;
}

.transf:focus {
  transition: ease-in-out 0.3s;
  transform: scale(1.01);
  border: 2px solid;
}

.transf-trans:focus {
  transition: ease-in-out 0.3s;
  transform: scale(1.005) translateX(0%);
  border: 2px solid;
}



/* Parte del listado de las notas */

.listado-notas {
  width: 75vw;
  background-color: white;
  margin: 10px 0px 0px 0px;
  border: 1px black;
  border-style: none solid solid solid;
  border-radius: 4px;
}

.listado-notas h2 {
  font-size: 2.5rem;
  letter-spacing: 2px;
  font-weight: bold;
  border: 0.5px solid black;
  border-radius: 4px 4px 0px 0px;
}

.notas p .detalles {
  font-size: 20px;
}

.notas .btn {
  padding: 1px;
  margin-top: 2px;
}



/* Comienzo de footer */
.footer {
  bottom: 0;
  left: 0;
  grid-area: footer;
  background-color: #006ea6;
  height: 110px;
  width: 100%;
  color: #EAEAEA;
  display: grid;
  grid-template-columns: 1fr 150px 1fr;
  grid-template-rows: auto;
  grid-template-areas: "form redes desarrollador";
  justify-items: center;
  align-items: center;
}

.footer .contacto-desarrollador {
  height: 100px;
  width: 120px;
  grid-area: desarrollador;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer .contacto-desarrollador img {
  height: 30px;
  width: 30px;
  margin-left: 5px;
}

@media (max-width: 768px) {
  .container {
    margin-left: 20px;
    margin-right: 0px;
  }
  #contenido {
    width: 95vw;
  }
  .titulo {
    font-weight: bold;
    font-size: 2.5rem;
   
  }

  .nota .form {
    width: 85vw;
  }

/* Parte del listado de las notas */

  .listado-notas {
    width: 90vw;
    
  }

}

@media (max-width: 576px) {
  #contenido {
    margin: 0;
  }
}
